@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: poppins;
    font-size: 2vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.scrollbar {
    width: 5px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #ddd;   
}

.progress {
    width: 100%;
    height: 0%;
    background-color: red;
    border-radius: 5px;
    transition: all 250ms;
}

.btns {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    margin-left: 1vh;
}

.profile {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    color: white;
    background-color: red;
    border: 2px solid white;
    padding: 0;
    margin: 0;
    margin-left: 2vh;
}

.profile:hover {
    box-shadow: 0 0 1.5vh white;
    cursor:pointer;
}

.profile > i {
    font-size: 2vh;
    padding: 0;
    margin: 0;
}

.userName {
    font-size: 1.5vh;
    font-weight: 900;
    color: white;
    margin-left: 1vh;
    width: min-content;
}

header {
    position: fixed;
    left: 0;
    top:0;
    padding-inline: 1.5vh;
    width: calc(100% - 3vh);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    z-index: 2;
}

.headerTitle {
    font-size: 4.5vh;
    font-weight: 900;
    color:white;
    width: 35vh;
}

.createBlog {
    width: 20vh;
    height: 5vh;
    background-color: red;
    border: 2px solid white;
    border-radius: 0.5vh;
    color: white;
    font-weight: 700;
    transition: all 250ms;
    max-width: 40vw;
}

.login {
    width: 15vh;
    height: 5vh;
    background-color: white;
    border: 2px solid white;
    border-radius: .5vh;
    color:red;
    font-weight: 700;
    transition: all 250ms;
    max-width: 23vw;
}

.createBlog:hover, .login:hover {
    box-shadow: 0 0 1.5vh white;
    cursor:pointer;
}

.navOptions {
    width: 40vw;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    transition: all 250ms;
}

.navOptions > *:hover {
    text-shadow: 0 0 0.5vh white;
    cursor:pointer;
}

@media screen and (max-width: 140vh) {
    .navOptions {
        display: none;
    }
    .headerTitle {
        width: 10vh;
    }
}

.blog {
    margin-top: 10vh;
    width: 95vh;
    max-width: 85vw;
    height: max-content;
    padding-bottom: 4vh;
}

.blog > * {
    font-size: 4vh;
}

@media screen and (max-width: 140vh) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 30vh);
    }
    .user, .createBlog, .headerTitle, .login{
        transform: scale(80%);
    }
    .login {
        margin-left: auto;
        position: relative;
        left: 3vw;
    }
    .user {
        transform: scale(70%);
        position: relative;
        /* left: 2vh; */
        right: -2vh;
    }
    .createBlog {
        margin: 0;
        position: relative;
        /* left: 7vh; */
        left: 7vh;
    }
    .userName {
        font-size: 2vh;
    }
    .headerTitle {
        transform: scale(70%);
        position: relative;
        right: 1vh;
    }
    .btns:has(.login)  > .createBlog {
        left: 7vw;
    }

    .btns {
        width: 50%;
        justify-content: end;
    }
}


.title {
    font-size: 5vh;
    font-weight: 600;
}

.subtitle {
    font-size: 2.3vh;
    color:#888;
}

.posted {
    margin-top: 2vh;
    width: 100%;
    /* background-color: blue; */
    border-top: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interactions {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.readEstimate {
    color: red;
    position: absolute;
    left: 0;
}

.like, .favourite, .share {
    position: relative;
    width: 4vh;
    height: 4vh;
    border: none;
    color: #333;
    background-color: white;
    transition: all 250ms;
}

.like:hover {
    padding-right: 7vh;
    background-color: transparent;
}

.share:hover {
    padding-right: 9vh;
    background-color: transparent;
}

.favourite:hover {
    padding-right: 11vh;
    background-color: transparent;
}

.like::before {
    content: 'Like';
    position: absolute;
    top: 0;
    right: 0.5vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    /* background-color: blue; */
}

.share::before {
    content: 'Share';
    position: absolute;
    top: 0;
    right: .5vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.favourite::before {
    content: 'Favorite';
    position: absolute;
    top: 0;
    right: .5vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.like:hover::before, .share:hover::before, .favourite:hover::before {
    opacity: 1;
}

img {
    width: 100%;
}

.partSeparator {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-top: 2px dashed red;
    margin-block: 4vh;
}

.sectionTitle {
    font-size: 3.5vh;
    font-weight: 600;
}

.quote {
    width: 100%;
    /* height: 10vh; */
    border-left: 0.6vh solid black;
    padding: 2vh;
    position: relative;
    right: 2.6vh;
    font-style: italic;
}

main > * {
    font-size: 2.5vh;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bolditalic {
    font-weight: bold;
    font-style: italic;
}

.large {
    font-size: 3.5vh;
}

li {
    font-size: 2.5vh;
}

.copyMessage {
    color: red;
    background-color: white;
    border-radius: 1vh;
    border: 1px solid red;
    padding: 2vh;
    position: fixed;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%) scale(0%);
    transform-origin: center;
    transition: all 100ms linear;
}

.buzz {
    animation: buzz 250ms;
}

.copyMessage.show {
    transform: translateX(-50%) scale(100%);
}

@keyframes buzz {
    0% {
        transform: translateX(-50%) rotate(3deg) scale(100%);
    }

    20% {
        transform: translateX(-50%) rotate(-3deg) scale(100%);
    }

    40% {
        transform: translateX(-50%) rotate(3deg) scale(100%);
    }

    60% {
        transform:  translateX(-50%)rotate(-3deg) scale(100%);
    }

    80% {
        transform:  translateX(-50%)rotate(3deg) scale(100%);
    }

    100% {
        transform: translateX(-50%)rotate(-3deg) scale(100%);
    }
}