@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: poppins;
    font-size: 2vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.scrollbar {
    width: 5px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #ddd;   
}

.progress {
    width: 100%;
    height: 0%;
    background-color: red;
    border-radius: 5px;
    transition: all 250ms;
}

header {
    position: fixed;
    left: 0;
    top:0;
    padding-inline: 1.5vh;
    width: calc(100% - 3vh);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    z-index: 10;
}

.btns {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    place-items: center;
    width: min-content;
}

.user {
    display: flex;
    align-items: center;
    margin-left: 1vh;
    width: auto;
}

.profile {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    color: white;
    background-color: red;
    border: 2px solid white;
    padding: 0;
    margin: 0;
    margin-left: 2vh;
}

.profile:hover {
    box-shadow: 0 0 1.5vh white;
    cursor:pointer;
}

.profile > i {
    font-size: 2vh;
    padding: 0;
    margin: 0;
}

.userName {
    font-size: 1.5vh;
    font-weight: 900;
    color: white;
    margin-left: 1vh;
    width: min-content;
}

.headerTitle {
    font-size: 4.5vh;
    font-weight: 900;
    color:white;
    width: 35vh;
}

.createBlog {
    width: 20vh;
    height: 5vh;
    background-color: red;
    border: 2px solid white;
    border-radius: 0.5vh;
    color: white;
    font-weight: 700;
    transition: all 250ms;
    max-width: 40vw;
}

.login {
    width: 15vh;
    height: 5vh;
    background-color: white;
    border: 2px solid white;
    border-radius: .5vh;
    color:red;
    font-weight: 700;
    transition: all 250ms;
    max-width: 23vw;
    margin-left:1vh
}

.createBlog:hover, .login:hover {
    box-shadow: 0 0 1.5vh white;
    cursor:pointer;
}

.profileSettings {
    position: fixed;
    top: 9vh;
    right: 1vh;
    width: 30vw;
    max-width: 30vh;
    background-color: red;
    border-radius: 1vh;
    padding: 1vh;
    box-shadow: 0 0 3vh gray;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms;
}

.profileSettings > div {
    color: white;
    font-weight: 600;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
}

.profileSettings > div:hover:not(.profileSettingsContent:last-child) {
    text-shadow: 0 0 1.5vh white;
    cursor:pointer;
}

.profileSettings.show {
    opacity: 1;
    pointer-events: all;
}

.navOptions {
    width: 40vw;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    transition: all 250ms;
}

.navOptions > *:hover {
    text-shadow: 0 0 0.5vh white;
    cursor:pointer;
}

@media screen and (max-width: 140vh) {
    .navOptions {
        display: none;
    }
    .headerTitle {
        width: auto;
    }
}

@media screen and (max-width: 140vh) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 30vh);
    }
    .user, .createBlog, .headerTitle, .login{
        transform: scale(80%);
    }
    .login {
        margin-left: auto;
        position: relative;
        left: 3vw;
    }
    .user {
        transform: scale(70%);
        position: relative;
        /* left: 2vh; */
        right: -2vh;
    }
    .createBlog {
        margin: 0;
        position: relative;
        /* left: 7vh; */
        left: 7vh;
    }
    .userName {
        font-size: 2vh;
    }
    .headerTitle {
        transform: scale(70%);
        position: relative;
        right: 1vh;
    }
    .btns:has(.login)  > .createBlog {
        left: 7vw;
    }

    .btns {
        width: 50%;
        justify-content: end;
    }
}

.blog {
    margin-top: 10vh;
    width: 95vh;
    max-width: 85vw;
    height: max-content;
    padding-bottom: 4vh;
    position: relative;
}

main > textarea {
    font-size: 2.5vh;
}

.title {
    font-size: 5vh;
    font-weight: 600;
    caret-color: gray;
    line-height: 1;
}

.subtitle {
    font-size: 2.3vh;
    color:#888;
    caret-color: #888;
    line-height: 1;
}

.textarea {
    position: relative;
    resize: none;
    width: 100%;
    min-height: 1vh;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1vh;
    /* background-color: blue; */
}

.textarea:focus {
    outline: none;
}

.titleLabel {
    position: absolute;
    top: 0.8vh;
    left: -6vh;
    display: flex;
    align-items: center;
    height: 5.5vh;
    color: gray;
    border-right: 1px solid gray;
    padding-right: 1vh;
    opacity: 0;
    transition: height 500ms, opacity 100ms;
}

.title:focus + .titleLabel {
    opacity: 1;
}

.subtitleLabel {
    position: absolute;
    top: 8.5vh;
    left: -9.4vh;
    display: flex;
    align-items: center;
    height: 2.5vh;
    color: gray;
    border-right: 1px solid gray;
    padding-right: 1vh;
    opacity: 0;
    transition: height 500ms, opacity 100ms, top 500ms;
}

.subtitle:focus +.subtitleLabel {
    opacity: 1;
}

@media screen and (max-width: 120vh) {
    .title:focus + .titleLabel {
        opacity: 0;
    }
    .subtitle:focus + .subtitleLabel {
        opacity: 0;
    }
}

img {
    width: 100%;
}

.partSeperator {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-top: 2px dashed red;
    margin-block: 4vh;
}

.sectionTitle {
    font-size: 3.5vh;
    font-weight: 600;
}

.quote {
    width: 100%;
    border-left: 0.6vh solid black;
    padding-inline: 2vh;
    padding-block: 2.2vh 0.6vh;
    margin-block:1vh;
    position: relative;
    right: 2.6vh;
    font-style: italic;
}

.add {
    width: 10%;
    height: 4vh;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 2vh;
    border: none;
    border-radius: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5vh;
    transition: all 250ms;
    z-index: 1;
    margin-top: 0.2vh;
    border: 0.1vh solid red;
}

.add > * {
    pointer-events: none;
}

.add > i {
    transform: rotate(45deg);
    transition: all 250ms;
}

.add.open {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    /* color: red;
    background-color: white; */
    border: 0.1vh solid red;
}

.add.open > i {
    transform: rotate(0deg);
}

.add.open + .addOptions {
    left: 6.2vh;
    opacity: 1;
    z-index: 1;
}

.addOptions {
    position: relative;
    width: min-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: all 250ms;
    left: .2vh;
}

.addOptions > i {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    border: 0.1vh solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vh;
    padding: .5vh;
    color: red;
    position: relative;
    bottom: 5.2vh;
    pointer-events: all;
}

.paragraphSettings {
    position: absolute;
    top: 10vh;
    left: 3vh;
    opacity: 0;
    transform: translateX(-110%);
    width: 3vh;
    height: 3vh;
    /* border-radius: 50%; */
    /* border: 0.1vh solid #888; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraphSettings > i {
    color: #888;
}

.paragraphSettings.show {
    opacity: 1;
}